<meta name="description" content="TropicalConf 2017 - Uma conferência, só que tropical">
<meta property="og:type" content="activity">
<meta property="og:title" content="TropicalConf 2017 - Uma conferência, só que tropical">
<meta property="og:description" content="As maiores referências em desenvolvimento Front e Back-end aportam no Recife.">
<meta property="og:image" content="/images/social/facebook-card.png">
<meta property="og:url" content="http://tropicalconf.com">
<meta property="og:site_name" content="TropicalConf">
<meta property="og:locale" content="pt-BR">
<meta name="twitter:title" content="TropicalConf 2017 - Uma conferência, só que tropical">
<meta name="twitter:description" content="As maiores referências em desenvolvimento Front e Back-end aportam no Recife.">
<meta name="twitter:image" content="/images/social/twitter-card.png">
<meta name="twitter:creator" value="@tropicalconf">
<meta name="twitter:site" value="@tropicalconf">
<meta property="place:location:latitude"  content="-8.0302743">
<meta property="place:location:longitude" content="-34.9223072">
