///////////////////////////////////////////////////////////
// Colors                                  (Base styles) //
///////////////////////////////////////////////////////////
$white:                #fff;
$orange:               #ff5512;
$light-orange:         #ff7742;
$dark-blue:            #293982;
$lighter-blue:         #3f529e;
$light-blue:           #a4e4ff;
$shadow-grey:          #e7e7e7;
$valid-green:          #53be1c;

// Semantic variations
$link-color:           $dark-blue;
$link-hover-color:     $orange;

::selection {
  background: lighten($orange, 40%);
}
