///////////////////////////////////////////////////////////
// Forms                                   (Base styles) //
///////////////////////////////////////////////////////////

form {
  display: flex;
  margin-top: 20px;
}

input[type="email"] {
  width: 100%;
  height: 50px;
  padding-left: 40px;
  color: $dark-blue;
  font-family: $fira-mono;
  font-size: 1rem;
  background-color: $white;
  border: 0;
  border-left: 6px solid $orange;
  border-radius: 0 50px 50px 0;
  box-shadow: 0 -5px 70px -5px rgba(0,0,0,.22);
  @media (max-width: 560px) { font-size: 1rem; }
  &:focus {
    color: $dark-blue;
    outline: none;
  }
  &:hover { box-shadow: 0 -1px 43px -5px rgba(55,78,176,.54); }
  &:required:valid {
    color: $valid-green;
    background: $white url("/images/valid.svg") no-repeat left;
  }
  &:required:invalid {
    color: $orange;
    background: $white url("/images/mail.svg") no-repeat left;
  }
}
