///////////////////////////////////////////////////////////
// Typography                              (Base styles) //
///////////////////////////////////////////////////////////

// Import font faces from Google.
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,900');

// Font families.
$montserrat: "Montserrat", "sans-serif";
$fira-mono:  "Fira Mono", "monospace";

// Font weights.
$regular: 400;
$medium:  500;
$black:   900;

// Base size for every other unit.
$size-base: 16px; // 1rem

// Scaffolds typographic styles.
html, body {
  padding: 0;
  font-family: $fira-mono;
  font-weight: $regular;
  font-size:   $size-base;
  text-rendering: optimizeLegibility;
}

hr { border-top: 2px solid #ff5512; }
small { display: none; }

p {
  padding: 0;
  margin: 0;
  color: $dark-blue;
  &.is-orange {
    width: 15em;
    color: $orange;
    font-size: 1.2rem;
    @media (min-width: 560px) {
      width: 23em;
      font-size: 1rem;
    }
    @media (max-width: 320px) { width: 100%; }
  }
}

strong {
  padding: 0 5px;
  font-weight: $black;
  background-color: lighten($orange, 41%);
  border: 1px solid $orange;
  &.is-text-highlight {
    background-color: lighten($dark-blue, 65%);
    border: 1px solid lighten($dark-blue, 40%);
  }
}

h2 {
  width: 40em;
  padding-right: 20px;
  margin: 0;
  color: $dark-blue;
  font-size: 1.5rem;
  @media (max-width: 850px) {
    width: 14em;
    padding-right: 0;
  }
}

h3 {
  color: $white;
  font-family: $montserrat;
  font-weight: $black;
  font-size: 1.6rem;
  text-align: center;
}

time {
  display: inline-block;
  color: $light-blue;
  font-family: "Fira Mono";
  font-weight: 400;
  letter-spacing: -1.2px;
}

.of-description {
  margin-bottom: 15px;
  font-size: 1.3rem;
  line-height: 1.7rem;
  @media (min-width: 900px) { font-size: 1rem; }
  }



address {
  padding: 0;
  font-style: normal;
}

a {
  padding: 0;
  color: $link-color;
  text-decoration: none;
  &:hover {
    padding: 0;
    color: $link-hover-color;
  }
}

.button-link {
  width: 200px;
  padding: 10;
  margin: auto;
  color: $white;
  text-decoration: none;
  &:hover {
    padding: 0;
    color: $white;
  }
  &:active { outline: 0; }
}

li { font-size: .9rem; }

.is-title {
  width: 9em;
  margin-right: 10px;
  margin-bottom: 10px;
  color: $dark-blue;
  font-family: $montserrat;
  font-weight: $black;
  font-size: 2.2rem;
  line-height: 1;
  text-transform: uppercase;
  @media (min-width: 1100px) { font-size: 2.3rem; }
  @media (min-width: 1400px) { font-size: 2.7rem; }
  @media (max-width: 320px) { width: 100%; }

  &.of-section {
    width: 15em;
    margin: 100px auto;
    color: $white;
    text-align: center;
    @media (max-width: 800px) {
      width: 90%;
      margin-bottom: 60px;
    }
    &.is-marginless {
      margin-bottom: 40px;
      margin-top: 100px;
    }

    &.at-schedule { margin-top: 40px; }

    &.is-intern-tittle {
      margin: 50px;
    }
  }
}

.is-date {
  padding-top: 20px;
  margin-top: 10px;
  color: $dark-blue;
  font-family: $montserrat;
  font-weight: $black;
  font-size: 3.2rem;
  line-height: 1rem;
  letter-spacing: .4rem;
  @media (max-width: 850px) {font-size: 4rem;}
  @media (max-width: 400px) {font-size: 2.5rem;}
}

.is-location {
  width: 250px;
  margin-top: 10px;
  margin-left: auto;
  color: $dark-blue;
  text-align: right;
  @media (max-width: 850px) {
    width: 130px;
    font-size: 1.3rem;
  }
}

.has-hidden-font {
  font-size: 0;
  line-height: 0;
}

.of-header {
  z-index: 999;
  width: 10em;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 10px;
  color: $dark-blue;
  font-family: $montserrat;
  font-weight: $black;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.of-sub {
  width: 17em;
  margin: auto;
  margin-top: 4px;
  color: $dark-blue;
  font-family: $fira-mono;
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: center;
}

.of-company {
  display: inline-block;
}

.title {
  color: $white;
  font-family: $montserrat;
  font-weight: $medium;
  font-size: 1.4rem;
  text-transform: uppercase;
  &.of-keyspeaker {
    margin: 0;
    text-align: left;
  }
  &.of-keynote {
    margin: -4px 0 20px 14px;
    text-align: left;
    @media (max-width: 800px) {
      margin: 0 0 10px;
    }
  }
}

.description {
  color: $white;
  &.of-keynote {
    display: block;
    padding-left: 24px;
    margin: 0 0 22px;
    line-height: 1.4rem;
    text-align: left;
    @media (max-width: 800px) {
      padding-left: 0;
    }
  }
  &.of-keyspeaker {
    display: block;
    line-height: 1.4rem;
    text-align: left;
    @media (max-width: 800px) {
      margin-top: 20px;
      text-align: center;
    }
  }
  &.of-footer {
    margin-top: 10px;
    line-height: 2;
    a {
      color: $orange;
    }
  }
  &.is-hidden {
    display: none;
  }
  a { color: $white;}
  a:hover { color: $orange; }
}

.caption {
  &.of-footer {
    display: inline-block;
    color: $light-blue;
    font-size: .8rem;
  }
  &.is-centered {
    display: block;
    margin: 0 auto;
    text-align: center;
    @media (min-width: 800px) {
      display: none;
    }
  }

  a {
    color: $orange;
  }
}

.is-code-of-conduct {
  padding: 20px 50px;
  line-height: $size-base * 2;
}

footer { font-size: .9rem; }
