///////////////////////////////////////////////////////////
// Utils                                   (Base styles) //
///////////////////////////////////////////////////////////

@mixin clearfix {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
}
