---
title: Código de Conduta — Tropical Conf Pocket Edition 2017
---

<main class="is-blue">
  <section class="grid is-main-wrapper is-container">
    <article class="grid is-flex at-center">

      <article class="grid at-main-left">
        <h1 class="grid with-left-logo">
          <a href="index.html"><img class="figure of-tropicalconf-brand" src="/images/tropicalconf-logo.png" alt="Tropical Conf Logo"></a>
          Tropical Conf<br>
          <small>Pocket Edition — Front &amp; Back-end</small>
        </h1>
        <p class="typography of-sub"><a href="index.html">Voltar para o início</a></small>
      </article>

      <article class="grid at-main-right at-intern-page is-box">
        <p class="typography is-title and is-intern-tittle">
          Código de conduta
        </p>
        <p class="typography is-code-of-conduct">
          A <strong class="typography is-text-highlight">Tropical Conf</strong> se dedica a prover uma experiência sem constrangimentos para todos, independente de gênero, identidade e expressão de gênero, orientação sexual, deficiências, aparência física, dimensões corporais, raça, religião ou posicionamento político. Não será tolerado o constrangimento de participantes da conferência de modo algum. Linguagem e imagens sexuais direcionadas a qualquer grupo ou pessoa específicos não são apropriados ao local do evento, incluindo palestras. Participantes da conferência que violarem estas regras podem ser expulsos da conferência sem reembolso, a critério dos organizadores da conferência.
       </p>
       <p class="typography is-code-of-conduct">
          Constrangimentos incluem comentários ofensivos relacionados a gênero, identidade e expressão de gênero, orientação sexual, deficiências, aparência física, dimensões corporais, raça, religião, posicionamento político, imagens de cunho sexual em locais públicos, intimidação intencional, perseguição, gravações ou fotos constrangedoras, interrupções continuadas das palestras ou outros eventos, contato físico inapropriado e atenção sexual não solicitada. Os participantes que forem solicitados a parar com o comportamento constrangedor devem fazê-lo imediatamente.
       </p>
       <p class="typography is-code-of-conduct">
          Se um participante ou palestrante apresentar comportamentos constrangedores, os organizadores da conferência podem tomar quaisquer ações a seu critério, incluindo alertar o ofensor ou expulsá-lo da conferência sem reembolso. Se você estiver sendo constrangido, perceber que alguém está sendo constrangido, ou tiver outras preocupações, por favor contacte um membro da organização imediatamente. A equipe da organização do evento pode ser identificada por camisetas e credenciais de staff.
       </p>
       <p class="typography is-code-of-conduct">
         A equipe da organização do evento se disponibiliza a ajudar participantes a contactarem a segurança do evento ou a polícia local, providenciar escolta ou ajudar os que estiverem sendo constrangidos a se sentirem seguros durante a conferência. Nós contamos com a sua participação.
       </p>
       <p class="typography is-code-of-conduct">
         <strong class="Typography is-text-highlight">Equipe da Conferência:</strong><strong>info@tropicalconf.com</strong><br>
         <strong class="Typography is-text-highlight">In Loco:</strong><strong>(+55) 81 4042 9757</strong><br>
         <strong class="Typography is-text-highlight">Polícia:</strong><strong>190</strong><br>
         <strong class="Typography is-text-highlight">Central de Atendimento à Mulher:</strong><strong>180</strong><br>
         <strong class="Typography is-text-highlight">SAMU:</strong><strong>192</strong>
       </p>
       <p class="typography is-code-of-conduct">
         <a href="/">< Voltar para página inicial</a>
       </p>
      </article>
    </article>
  <%= partial "footer" %>
  </section>
</main>
