---
title: TropicalConf Pocket Edition 2017
---

<main>
  <article class="grid is-container">

    <header class="grid at-left is-flex">
        <p class="grid with-partner-logos">
          <a href="#" target="_blank">
            <img class="figure is-logo of-inloco" src="/images/inloco-logo-negative.svg" alt="In Loco logotype">
            In Loco
          </a>
          <span>&amp;</span>
          <a href="#" target="_blank">
            <img class="figure is-logo of-guava"src="/images/guava-logo-negative.svg" alt="Guava logotype">
            Guava
          </a>
          <span class="grid with-presentation">apresentam:</span>
        </p>
      <h1 class="grid with-event-logo">
        <img class="figure is-logo of-tropicalconf" src="/images/tropicalconf-logo.png" alt="Tropical Conf Logo">
        Tropical Conf<br>
        <small>Pocket Edition — Front &amp; Back-end</small>
      </h1>
      <img class="figure of-recife-antigo / grid with-illustration" src="/images/ilustracao-recife-antigo.png" alt="Ilustração de uma pessoa sentada de forma relaxada, com um computador no colo, numa cadeira de praia, no meio do Marco Zero">
    </header>

    <section class="grid at-right is-flex">
      <nav>
        <ul>
          <li><a href="#" target="_blank" alt="Social - Youtube">/Youtube</a></li>
          <li><a href="#" target="_blank" alt="Social - Facebook">/Facebook</a></li>
          <li><a href="#" target="_blank" alt="Social - Twitter">/Twitter</a></li>
        </ul>
      </nav>

      <div class="grid of-info is-flex">
        <p class="is-title">Uma conferência, só que tropical</p>
        <div class="grid is-right-aligned is-flex">
          <time class="is-date" datetime="2017-07-15 10:00">15/07</time>
          <address>
            <p class="is-location">Edição Pocket na <a href="#">JUMP</a>,<br>no Recife Antigo<img class="figure icon of-pin" src="/images/location.svg" alt=""></p>
            <hr>
          </address>
        </div>
      </div>

      <div class="grid of-info is-flex">
        <p class="grid is-left-aligned is-flex">As maiores referências em desenvolvimento Front e Back-end aportam no Recife. </p>
        <button class="of-registration" type="button" name="button">Registrar</button>
      </div>

      <form class="" action="index.html" method="post">
        <input type="email" placeholder="Assine a Newsletter e receba as novidades">
        <button class="of-subscription" type="submit" name="button">Subscribe</button>
      </form>
    </section>
  </article>

  <footer class="footer is-position"> <p>2017 - Tropical conf Pocket Edition.</p></footer>
</main>
