---
title: TropicalConf Pocket Edition 2017
---
<main class="grid is-main-wrapper">
  <article class="grid is-container">

    <header class="grid at-left is-flex">
      <p class="grid with-partner-logos is-flex">
        <a class="typography has-hidden-font" href="#" target="_blank">
          <img class="figure is-logo of-inloco" src="/images/inloco-logo-negative.svg" alt="In Loco logotype">In Loco</a>
        <span class="typography has-hidden-font">&amp;</span>
        <a class="typography has-hidden-font" href="#" target="_blank">
          <img class="figure is-logo of-guava"src="/images/guava-logo-negative.svg" alt="Guava logotype">Guava</a>
      </p>
      <span class="grid with-presentation">apresentam:</span>
      <h1 class="grid with-event-logo">
        <img class="figure is-logo of-tropicalconf" src="/images/tropicalconf-logo.png" alt="Tropical Conf Logo">
        Tropical Conf<br>
        <small>Pocket Edition — Front &amp; Back-end</small>
      </h1>
      <img class="figure of-recife-antigo / grid with-illustration" src="/images/ilustracao-recife-antigo.png" alt="Ilustração de uma pessoa sentada de forma relaxada, com um computador no colo, numa cadeira de praia, no meio do Marco Zero">
    </header>

    <section class="grid at-right is-flex">
      <nav class="menu is-social-media">
        <ul>
          <li class="icon is-active"><a href="#" target="_blank" alt="Social - Youtube">/Youtube
            <img class="icon of-youtube" src="/images/youtube.svg" alt="Ícone do Youtube"></a></li>
          <li class="icon is-active"> <a href="#" target="_blank" alt="Social - Facebook">/Facebook
            <img class="icon of-facebook" src="/images/facebook.svg" alt="Ícone do Facebook"></a></li>
          <li class="icon is-active"><a href="#" target="_blank" alt="Social - Twitter">/Twitter
            <img class="icon of-twitter" src="/images/twitter.svg" alt="Ícone do twitter"></a></li>
        </ul>
      </nav>

      <div class="grid of-info is-flex">
        <p class="is-title and is-left-aligned">Uma conferência, só que tropical</p>
        <div class="grid is-right-aligned and is-flex">
          <time class="typography is-date" datetime="2017-07-15 10:00">15/07</time>
          <address>
            <p class="typography is-location">Edição Pocket na <a href="https://www.google.com.br/maps/dir/''/MAPS+JUMP+RECIFE+ANTIGO/data=!4m5!4m4!1m0!1m2!1m1!1s0x7ab18940c93b185:0x8643bd576b6e95cc?sa=X&ved=0ahUKEwiy25nBpqzVAhWCGpAKHfBqDNgQ9RcIhQEwCw" target="_blank">JUMP</a>,<br>no Recife Antigo<img class="figure icon of-pin" src="/images/location.svg" alt="Endereço da JUMP no Recife Antigo"></p>
            <hr>
          </address>
        </div>
      </div>

      <div class="grid of-info is-flex">
        <p class="grid is-left-aligned and is-flex">As maiores referências em desenvolvimento Front e Back-end aportam no Recife. </p>
        <a href="https://www.sympla.com.br/" target="_blank"><button class="button of-registration" type="button" name="button">Garanta seu ticket</button></a>
      </div>

      <article class="grid of-info is-subscribe">

        Que tal não perder nada do evento? <br>Assine nossa newsletter.<br>

      <form action="https://tropicalconf.us16.list-manage.com/subscribe/post" method="post">
        <input type="hidden" name="u" value="8eeaec6a67e74f6b50c59174f">
        <input type="hidden" name="id" value="2810e768bd">
        <input type="email" placeholder="Digite um email válido" name="MERGE0" id="MERGE0" required>
        <button class="button of-subscription" type="submit" name="button"><img class="icon of-arrow" src="/images/arrow.svg" alt="Botão de enviar com ícone de seta"></button>
      </form>

      </article>

    </section>
  </article>

  <footer class="footer is-position"> <p>2017 - Tropical conf Pocket Edition</p></footer>
</main>
