---
title: TropicalConf Pocket Edition 2017
---
<main class="grid is-main-wrapper">
  <article class="grid is-container">
    <header class="grid at-left is-flex">
      <p class="grid with-partner-logos is-flex">
        <a class="typography has-hidden-font" href="https://www.inlocomedia.com/" target="_blank">
          <img class="figure is-logo of-inloco" src="/images/inloco-logo-negative.svg" alt="In Loco logotype">
          In Loco
        </a>
          <span class="typography has-hidden-font">&amp;</span>
        <a class="typography has-hidden-font" href="https://guavasoftware.com/" target="_blank">
          <img class="figure is-logo of-guava" src="/images/guava-logo-negative.svg" alt="Guava logotype">
          Guava
        </a>
      </p>
      <span class="grid with-presentation">
        apresentam:
      </span>
      <h1 class="grid with-event-logo">
        <img class="figure is-logo of-tropicalconf" src="/images/tropicalconf-logo.png" alt="Tropical Conf Logo">
          Tropical Conf<br>
        <small>
          Pocket Edition — Front &amp; Back-end
        </small>
      </h1>
      <img class="figure of-recife-antigo / grid with-illustration" src="/images/ilustracao-recife-antigo.png" alt="Ilustração de uma pessoa sentada de forma relaxada, com um computador no colo, numa cadeira de praia, no meio do Marco Zero">
    </header>

    <section class="grid at-right is-flex">
      <nav class="menu is-social-media">
        <ul>
          <li class="icon is-active">
            <a href="#" target="_blank" alt="Social - Youtube">
              /Youtube
              <img class="icon of-youtube" src="/images/youtube.svg" alt="Ícone do Youtube">
            </a>
          </li>
          <li class="icon is-active">
            <a href="https://www.facebook.com/tropicalconf/" target="_blank" alt="Social - Facebook">
              /Facebook
              <img class="icon of-facebook" src="/images/facebook.svg" alt="Ícone do Facebook">
            </a>
          </li>
          <li class="icon is-active">
            <a href="https://twitter.com/tropicalrb" target="_blank" alt="Social - Twitter">
              /Twitter
              <img class="icon of-twitter" src="/images/twitter.svg" alt="Ícone do twitter">
            </a>
          </li>
        </ul>
      </nav>

      <div class="grid of-info is-flex">
        <p class="typography is-title and is-left-aligned">
          Uma conferência de tecnologia, só que tropical
        </p>
        <div class="grid is-right-aligned and is-flex">
          <time class="typography is-date" datetime="2017-07-15 10:00">15/07</time>
          <address>
            <p class="typography is-location">
              Edição Pocket na
              <a href="https://goo.gl/w41AVu" target="_blank">
                JUMP,<br>
              </a>
              no Recife Antigo
              <img class="icon of-pin" src="/images/location.svg" alt="Endereço da JUMP no Recife Antigo">
            </p>
            <hr>
          </address>
          <a class="button of-registration" href="https://www.sympla.com.br/" target="_blank">
            Garanta seu ticket
          </a>
        </div>
      </div>

      <div class="grid of-info is-flex is-box">
          <h2 class="is-left-aligned">
            O Tropical Ruby mudou e agora é Tropical Conf.
            <hr>
          </h2>
          <br>
          <p class="of-description is-right-aligned">
            Como nenhum passo a frente pode ser deixado passar,
            queremos celebrar a nova proposta da conferência com uma edição pocket.
            Pocket no tamanho, não em ambição.
          </p>
      </div>

      <article class="grid of-info is-box">
        <p class="typography is-orange">
          Que tal não perder nada do evento?
          Assine nossa newsletter.
        </p>
        <form action="https://guava.us3.list-manage.com/subscribe/post" method="post">
          <input type="hidden" name="u" value="91f07f556bcf88c39c98457f7">
          <input type="hidden" name="id" value="a789248e4d">
          <input type="email" placeholder="Digite um email válido" name="MERGE0" id="MERGE0" required>
          <button class="button of-subscription" type="submit" name="button">
            <img class="icon of-arrow" src="/images/arrow.svg" alt="Botão de enviar com ícone de seta">
          </button>
        </form>
      </article>
    </section>
  </article>

  <footer class="footer is-position">
    <p>
      2017 - Tropical conf Pocket Edition
    </p>
  </footer>

</main>
