---
title: Assinatura realizada com sucesso
---

<main class="is-blue">
  <section class="grid is-main-wrapper and is-container at-secondary-pages">
    <article class="grid is-flex at-center">

      <article class="grid at-main-left">
        <h1 class="grid with-left-logo">
          <a href="index.html"><img class="figure of-tropicalconf-brand" src="/images/tropicalconf-logo.png" alt="Tropical Conf Logo"></a>
          Tropical Conf<br>
          <small>Pocket Edition — Front &amp; Back-end</small>
        </h1>
        <p class="typography of-header is-white">ASSINATURA REALIZADA.</p>
        <p class="typography of-sub is-white"> Obrigado, em breve mais informações sobre o evento.</p>
        <p class="typography of-sub"><strong class="is-return"><a href="index.html">Voltar para o início</a></strong>
      </article>

      <article class="grid at-main-right">
        <img class="figure is-big" src="/images/success.svg" alt="Ilustração de uma pessoa recebendo e lendo email">
      </article>
    </article>
  <%= partial "footer" %>
</section>
</main>
