---
title: Assinatura Feita com Sucesso.
---

<main class="grid is-main-wrapper is-container">
  <article class="grid is-flex at-center">

    <article class="grid at-left-404">
      <h1 class="grid with-404-logo">
        <a href="index.html"><img class="figure of-tropicalconf-404" src="/images/tropicalconf-logo.png" alt="Tropical Conf Logo"></a>
        Tropical Conf<br>
        <small>Pocket Edition — Front &amp; Back-end</small>
      </h1>
      <p class="typography of-error404">ASSINATURA CONCLUÍDA.</p>
      <p class="typography of-sub"> Obrigado, em breve mais informações sobre o evento.</p>
    </article>

    <article class="grid at-right-404">
      <img class="figure of-404" src="/images/success.png" alt="Ilustração de uma pessoa recebendo e lendo email">
    </article>
  </article>
  <footer class="footer is-position"> <p>2017 - Tropical conf Pocket Edition.</p></footer>
</main>
