---
title: Email enviado com sucesso
---

<main class="is-blue">
  <section class="grid is-main-wrapper and is-container at-secondary-pages">

  <article class="grid is-flex at-center">

    <article class="grid at-main-left">
      <h1 class="grid with-left-logo">
        <a href="index.html"><img class="figure of-tropicalconf-brand" src="/images/tropicalconf-logo.png" alt="Tropical Conf Logo"></a>
        Tropical Conf<br>
        <small>Pocket Edition — Front &amp; Back-end</small>
      </h1>
      <p class="typography of-header is-white">QUASE LÁ! VEJA SUA CAIXA DE ENTRADA.</p>
      <p class="typography of-sub is-white"> Precisamos confirmar sua inscrição, basta clicar e aceitar :)</p>
      <p class="typography of-sub"><a href="index.html">Voltar para o início</a></small>
    </article>

    <article class="grid at-main-right">
      <img class="figure is-big" src="/images/mail-thanks.svg" alt="Ilustração de uma pessoa recebendo e lendo email">
    </article>
  </article>
  <%= partial "footer" %>
</section>
</main>
