---
title: Email enviado com sucesso
---

<main class="grid is-main-wrapper is-container">
  <article class="grid is-flex at-center">

    <article class="grid at-main-left">
      <h1 class="grid with-left-logo">
        <a href="index.html"><img class="figure of-tropicalconf-brand" src="/images/tropicalconf-logo-positive.png" alt="Tropical Conf Logo"></a>
        Tropical Conf<br>
        <small>Pocket Edition — Front &amp; Back-end</small>
      </h1>
      <p class="typography of-header">QUASE LÁ! VEJA SUA CAIXA DE ENTRADA.</p>
      <p class="typography of-sub"> Precisamos confirmar sua inscrição, basta clicar e aceitar :)</p>
    </article>

    <article class="grid at-main-right">
      <img class="figure is-big" src="/images/email-enviado.png" alt="Ilustração de uma pessoa recebendo e lendo email">
    </article>
  </article>
  <footer class="footer is-position"> <p>2017 - Tropical conf Pocket Edition.</p></footer>
</main>
