///////////////////////////////////////////////////////////
// Articles                                     (Module) //
///////////////////////////////////////////////////////////
ul li {
  display: flex;
  color: $orange;
}

.social-links {
  display: flex;
  padding: 0;
  color: $orange;
  li {
    margin-right: 20px;
  }
}

.is-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 17px;
}

.time-slot {
  display: flex;
  flex-direction: row;
  @media (max-width: 800px) {
    margin-bottom: 10px;
  }
}

.section-b {
  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
