///////////////////////////////////////////////////////////
// Figures                                      (Module) //
///////////////////////////////////////////////////////////

.figure {
  &.is-logo {
    &.of-inloco {
      width: 180px;
      @media (max-width: 1440px) { width: 140px;}
    }
    &.of-guava {
      align-self: flex-end;
      width: 150px;
      @media (max-width: 1440px) { width: 120px;}
      }
    &.of-tropicalconf {
      display: block;
      width: 60%;
      margin: auto;
      margin-top: 20px;
      @media (max-width: 1140px) { margin-top: -180px;}
      @media (max-width: 950px) {
        width: 60%;
        margin-top: -180px;
      }
      @media (max-width: 850px) {
        width: 70%;
        margin-top: 10px;
      }
      @media (max-width: 560px) {
        width: 90%;
        margin-top: 60px;
      }
    }
  }
  &.of-recife-antigo {
    width: 110%;
    @media (max-width: 1140px) {
      width: 45%;
      margin: auto;
      margin-top: -60px;
    }
    @media (max-width: 950px) {
      width: 50%;
      margin: auto;
      margin-top: -50px;
    }
    @media (max-width: 850px) {
      width: 80%;
      margin: auto;
      margin-top: 20px;
    }
    @media (max-width: 700px) {
      width: 110%;
      margin: auto;
      margin-top: -40px;
      margin-left: -5%;
    }
    @media (max-width: 560px) {
      width: 110%;
      margin: auto;
      margin-top: -50px;
      margin-left: -5%;
    }
  }
  &.is-big {
    width: 600px;
    margin-top: 40px;
    @media (max-width: 1140px) {width: 500px;}
    @media (max-width: 950px) {
      width: 400px;
      margin-top: 140px;
    }
  }
  &.of-tropicalconf-brand {
    display: block;
    width: 270px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 10px;
  }
  &.of-speaker {
    display: block;
    width: 77px;
    padding-top: 10px;
    margin: 0;
    &.at-keynote {
      margin-bottom: 20px;
    }
    &.is-selected {
      width: 160px;
      margin-top: -25px;
      @media (max-width: 800px) {
        width: 120px;
        margin: 0;
      }
    }

    &.is-active {
      display: block;
      opacity: 1;
    }
    &.is-active::after {
      position: relative;
      bottom: 148px;
      left: -6px;
      z-index: 999;
      display: inline-block;
      width: 90px;
      height: 90px;
      margin-bottom: -140px;
      border: 2px $orange solid;
      border-radius: 100px;
      content: "";
    }
  }
}
