///////////////////////////////////////////////////////////
// Figures                                      (Module) //
///////////////////////////////////////////////////////////

.figure {
  &.is-logo {
    &.of-inloco {
      width: 140px;
      margin-top: 25px;
    }
    &.of-guava {
      width: 100px;
      margin-top: 30px;
    }
    &.of-tropicalconf {
      display: block;
      width: 60%;
      margin: auto;
      margin-top: 20px;
    }
  }
  &.of-recife-antigo { width: 110%; }
}


@media screen and (max-width: 1150px) {
  .of-recife-antigo {
    width: 40%;
  }
  .is-logo.of-tropicalconf {
    display: block;
    margin-top: -10px;
  }
  .is-logo {
    &.of-inloco {
      width: 140px;
      margin-top: 0;
    }
    &.of-guava {
      width: 100px;
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 850px) {
  .of-recife-antigo {
    width: 60%;
  }
  .is-logo.of-tropicalconf {
    display: block;
    margin-top: -10px;
  }
}
