///////////////////////////////////////////////////////////
// Footers                                      (Module) //
///////////////////////////////////////////////////////////

.footer {
  &.is-position {
    margin-top: 160px;
    margin-bottom: 80px;
    text-align: center;
    @media (max-width: 1140px) { max-width: 100%; text-align: center;}
  }
}
